<!DOCTYPE html>
<html>
<head>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.js"></script>
	<script type="text/javascript" src="index.js"></script>
	<meta charset="UTF-8">
	<title>Angular directives</title>

	<style type="text/css">
		.red {
			color: red;
		}

		.green {
			color: green;
		}

		.yellow {
			color: yellow;
		}
	</style>
</head>

<body ng-app="MyApp">
	<div ng-controller="MainController as mainCtrl">




			<h3>ng-class string</h3>
			<input type="text" ng-model="ctrl.userText">
			<div ng-class="ctrl.userText">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus error eum optio libero enim iste numquam, repellat molestias accusamus rem, dignissimos, quidem consequatur iusto cupiditate, rerum. Necessitatibus aliquam, rem velit.
			</div>







			<h3>ng-class object</h3>
			<input type="checkbox" ng-model="mainCtrl.classObject.red">Red
			<input type="checkbox" ng-model="mainCtrl.classObject.green">Green
			<input type="checkbox" ng-model="mainCtrl.classObject.yellow">Yellow

			<div ng-class="mainCtrl.classObject">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae blanditiis inventore officiis impedit deserunt ipsa commodi suscipit ut amet, doloribus quibusdam mollitia, quas quam voluptatibus odio debitis. Sit, architecto, adipisci?
			</div>








			<button ng-click="mainCtrl.onButtonClick(mainCtrl.shouldShow)">Click Me</button>



				<input type="checkbox" ng-model="mainCtrl.shouldShow">

				<div ng-show="mainCtrl.shouldShow" style="color: red;">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam quisquam, aliquid blanditiis at veritatis. Necessitatibus quod hic doloribus veritatis aperiam voluptate, est sunt, eos molestias, tenetur illum facere inventore quia.
				</div>

				<div ng-hide="mainCtrl.shouldShow" style="color: green;">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti voluptates molestias totam dolorem, ea dolores eos neque dicta perspiciatis laborum! Praesentium eius aut in similique id ab nisi modi tempora.
				</div>











			<h3>Radio ng-model</h3>
			<h3 ng-bind="mainCtrl.animalSelected.name"></h3>
			
			<input type="text" ng-model="mainCtrl.myDog.name">

			<input 	type="radio" 
					name="animal" 
					value="mainCtrl.myDog" 
					ng-model="mainCtrl.animalSelected">Dog

			<input 	type="radio" 
					name="animal" 
					value="mainCtrl.myCat" 
					ng-model="mainCtrl.animalSelected">Cat

			<input 	type="radio" 
					name="animal" 
					value="mainCtrl.myCow" 
					ng-model="mainCtrl.animalSelected">Bird



			<h3>checkbox ng-model</h3>
			<h3 ng-bind="mainCtrl.select"></h3>
			<input type="checkbox" ng-model="mainCtrl.select">



			<h3>Text ng-model</h3>
			<h3 ng-bind="mainCtrl.username"></h3>
			<input type="text" ng-model="mainCtrl.username">



			<div ng-bind="mainCtrl.greeting"></div>

			<!--<h3>{{mainCtrl.greeting + mainCtrl.greeting + (2+2)}}</h3>-->



			<h3>Simple ng-repeat</h3>
			<div ng-repeat="item in mainCtrl.simpleArray">
				<h4 ng-bind="item"></h4>
				<div ng-bind="$middle"></div>
				<br/>
				<br/>
			</div>

			<h3>Intermediate ng-repeat</h3>
			<div ng-repeat="person in mainCtrl.interArray">
				<h4 ng-bind="person.name"></h4>
			</div>

			<h3>Object ng-repeat</h3>
			<div ng-repeat="(key, value) in ctrl.states">
				<h3>Abbr:<span ng-bind="key"></span></h3>
				<h3>Name:<span ng-bind="value"></span></h3>
			</div>

		</div>	
	</body>
</html>